
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

$font-family: 'IBM Plex Sans', sans-serif;

// font color

$primary-color:               #0F62FE;
$primary-dark:                #014cd9;
$primary-light:               #F5F8FF;
$secondary-color:             #38476D;
$secondary-dark:              #27314b;
$body-color:                  #101010;
$grey:                        #636262;
$white:                       #FFFFFF;
$grey-light:                  #DBDADA;

// Font size

$font-size-32:                     32px;
$font-size-24:                     24px;
$font-size-20:                     20px;
$font-size-18:                     18px;
$font-size-16:                     16px;
$font-size-14:                     14px;

// Spacing

$space4:                             4px;
$space8:                             8px;
$space10:                             10px;
$space12:                            12px;
$space16:                           16px;
$space24:                           24px;
$space32:                           32px;
$space60:                           60px;
$space80:                           80px;


//Font weight

$font-weight-normal:                400;
$font-weight-medium:                500;
$font-weight-semimedium:            600;
$font-weight-bold:                  700;


// Border Radius 
$border-radius-4px:                 4px;

// Border width 

$border-width-1:                    1px;
$border-width-2:                    2px;

// Border type
$border-solid:                     solid; 

// boc shadow 
$box-shadow:                       0px 4px 4px 0px rgba(0, 0, 0, 0.251);

// breakpoint
$xl-brekpoint:                    1199.98px;
$lg-brekpoint:                    991.98px;
$md-brekpoint:                    767.98px;
$sm-brekpoint:                    575.98px;