.sub-carousel {
    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        margin: 0 12px;
    }
    .slick-slider {

        .slick-arrow {
            color: black !important;
        }

        .slick-next {
            @media only screen and (max-width: $md-brekpoint) {
                display: none !important;
            }
        }
        .slick-prev {
            @media only screen and (max-width: $md-brekpoint) {
                display: none !important;
            }
        }
      
    }
}

