.home-table {
    border: $border-width-1 $border-solid $grey-light;
    border-radius: $border-radius-4px;
    
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
        box-shadow: none;
    }
    // .deta-set-table {
    //    border: $border-width-1 $border-solid $grey-light;
    // }
}